* {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body {
    background-color: ghostwhite;
    margin-top: 25px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.last-login {
    top: 40px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #25316D;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    color: #7e74f1;
    margin: 0rem 1rem 1rem 0.5rem;
    text-align: left;
}

.hero-name span {
    color: black;
}

.header-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logout-button {
    background-color: #5F6F94;
    color: white;
    font-weight: bold;
    border: 2px solid #25316D;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #25316D;
}


.item-count {
    background-color: #5F6F94;
    color: white;
    font-weight: bold;
    border: 2px solid #25316D;
    border-radius: 10px;
    padding: 5px;
    margin: 50px auto;
    max-width: 300px;
    text-align: center;
}

.item-count p {
    margin: 0;
} 

.footer {
    background-color: #25316D;
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
    margin-top: 40px;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer__social {
    margin-bottom: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}

.footer__copy {
    font-size: .75rem;
}

.add-product {
    margin-top: 100px;
}

.pos {
    display: flex;
    justify-content: center;
}
.card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
    max-width: 1200px;
}

.col-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}

.col-3:last-child .product-card {
    background-color: rgba(95, 196, 95, 0.8);
}

.product-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.amount-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-edit {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}